# Ignorar absolutamente todo por defecto en la raíz del proyecto
/*

# EXCEPCIONES:

# Permitir subir el propio archivo .gitignore
!.gitignore

# Permitir subir únicamente la carpeta compilada 'dist' y todo su contenido
!/dist/
